<?xml version="1.0"?>
<robot name="all_sensors" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find golf_cart)/urdf/utils/inertia.urdf.xacro" />
  <xacro:include filename="$(find golf_cart)/urdf/depth/orbbec_astra.urdf.xacro" />
  <xacro:include filename="$(find golf_cart)/urdf/2d_lidar/sick_s300.urdf.xacro" />
  <xacro:include filename="$(find golf_cart)/urdf/imu/myahrs.urdf.xacro" />
</robot>
